<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Profile</strong>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3">Name</label>
            <div class="col-md-9">
              <span class="help-block">{{user.name}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3">Email</label>
            <div class="col-md-9">
              <span class="help-block">{{user.email}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3">Username</label>
            <div class="col-md-9">
              <span class="help-block">{{user.username}}</span>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->


</div>
