<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="RegisterBox bg-info">
        <a routerLink='/allUsers'>
          <h1>{{totalRegisterUser}}</h1>
          <h2>Total registered app users</h2>
          <span class="Number">{{totalRegisterUser}}</span>
        </a>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="RegisterBox bg-primary">
        <a routerLink='/property'>
          <h1>{{totalProperties}}</h1>
          <h2>Total properties posted</h2>
          <span class="Number">{{totalProperties}}</span>
        </a>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="RegisterBox bg-warning">
        <a routerLink='/allUsers'>
          <h1>{{professionalUsers}}</h1>
          <h2>Total registered app professional</h2>
          <span class="Number">{{professionalUsers}}</span>
        </a>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="RegisterBox bg-danger">
        <a routerLink='/allUsers'>
        <h1>{{businessUsers}}</h1>
        <h2>Total registered app business</h2>
        <span class="Number">{{businessUsers}}</span>
      </a>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
