<button class="btn btn-primary" data-toggle="modal" data-target="#addCurrency" style="margin-bottom: 10px;"><i class="fa fa-plus" aria-hidden="true"></i>Add Currency</button>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Currencies List
        </div>
        <div class="card-body">
          <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Country Name</th>
                <th>Currency Type</th>
                <th>Currency Rate</th>
                <th>Created On</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let currency of currencies; let i = index;">
                <td>{{i+1}}</td>
                <td>{{currency?.countryName}}</td>
                <td>{{currency?.currencyType}}</td>
                <td>{{currency?.currencyRate}}</td>
                <td>{{currency.created | date: 'dd/MM/yyyy'}}</td>
                <td>
                  <button class="btn btn-primary" data-toggle="modal" data-target="#editCurrency" (click)="getDetails(currency._id)"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
                  <button class="btn btn-danger" type="button" (click)="deleteCurrency(currency._id)"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addCurrency">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Currency</h4>
              <button type="button" class="close" (click)="addCurrencyForm.reset()" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
             <form [formGroup]="addCurrencyForm" (ngSubmit)="addCurrency()">
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Country Name</label>
                        <input type="text" class="form-control" formControlName="countryName"> 
                        <p style="color: #FF0000" *ngIf="addCurrencyForm.controls['countryName'].invalid && (formSubmited || addCurrencyForm.controls['countryName'].dirty)">Please enter country name</p>
                    </div>
                    <div class="form-group">
                      <label>Currency Type</label>
                      <input type="text" class="form-control" formControlName="currencyType"> 
                      <p style="color: #FF0000" *ngIf="addCurrencyForm.controls['currencyType'].invalid && (formSubmited || addCurrencyForm.controls['currencyType'].dirty)">Please enter currency type</p>
                    </div>
                    <div class="form-group">
                      <label>Currency Rate</label>
                      <input type="text" class="form-control" formControlName="currencyRate"> 
                      <p style="color: #FF0000" *ngIf="addCurrencyForm.controls['currencyRate'].invalid && (formSubmited || addCurrencyForm.controls['currencyRate'].dirty)">Please enter currency rate</p>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-success" type="submit">Submit</button>
                    </div> 
                </div>
              </div>
              </form>
          </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="addCurrencyForm.reset()" data-dismiss="modal">Cancel</button>
      </div>
  
      </div>
  </div>
</div>

<div class="modal" id="editCurrency">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit Currency</h4>
              <button type="button" class="close" (click)="editCurrencyForm.reset()" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
             <form [formGroup]="editCurrencyForm" (ngSubmit)="editCurrency()">
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Country Name</label>
                        <input type="text" class="form-control" formControlName="countryName"> 
                        <p style="color: #FF0000" *ngIf="editCurrencyForm.controls['countryName'].invalid && (formSubmited || editCurrencyForm.controls['countryName'].dirty)">Please enter country name</p>
                    </div>
                    <div class="form-group">
                      <label>Currency Type</label>
                      <input type="text" class="form-control" formControlName="currencyType"> 
                      <p style="color: #FF0000" *ngIf="editCurrencyForm.controls['currencyType'].invalid && (formSubmited || editCurrencyForm.controls['currencyType'].dirty)">Please enter currency type</p>
                    </div>
                    <div class="form-group">
                      <label>Currency Rate</label>
                      <input type="text" class="form-control" formControlName="currencyRate"> 
                      <p style="color: #FF0000" *ngIf="editCurrencyForm.controls['currencyRate'].invalid && (formSubmited || editCurrencyForm.controls['currencyRate'].dirty)">Please enter currency rate</p>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-success">Submit<img class="spinner_img" src="assets/img/avatars/spinner.gif"></button>
                    </div> 
                </div>
              </div>
              </form>
          </div>
  
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="editCurrencyForm.reset()" data-dismiss="modal">Cancel</button>
      </div>
  
      </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>